header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 20px;

    .left {
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        left: -80px;

        > ul {
            display: flex;
            align-items: center;
            justify-content: center;

            > li {
                position: relative;

                &:hover {
                    ul {
                        visibility: visible;
                        opacity: 1;
                        top: 38px;
                    }
                }

                ul {
                    position: absolute;
                    top: 25px;
                    left: 0;
                    background-color: #333;
                    width: 200px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 250ms all;

                    li {
                        &:first-child {
                            a {
                                border-top: 1px solid #f5f5f5;
                            }
                        }
                        a {
                            display: block;
                            padding: 7px 12px;
                            border-bottom: 1px solid #f5f5f5;
                            color: #fff;

                            &:hover {
                                color: #fff;
                                background-color: #e74c3c;
                            }
                        }
                    }
                }

                > a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    color: #333;

                    &:hover {
                        color: rgba(#000, 0.7);
                    }
                }
            }
        }
    }

    .right {
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            button {
                padding: 10px;
                color: #333;
                cursor: pointer;
                width: 80px;
                border-radius: 7px;
                font-weight: bold;
                font-size: 14px;

                &:first-child {
                    margin-right: 10px;
                    background-color: #e74c3c;
                    color: #fff;
                }
            }
        }
    }
}
